@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.one{
    /* border: 1px solid grey; */
    box-shadow: 4px 4px 0 grey;
    font-weight: 600;
    font-size: 2em;
    padding: 10px;
    height: 65%;
    /* margin: 10px 20px 10px 20px !important; */
    background-color: lightgrey;
    margin-bottom: 10px !important;

}

/* @media only screen and (min-width:400) and (max-width:700px) */








